/* generics */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header */

header {
  width: 100%;
  height: 80px;
  /* debug */
  border: 1px solid black;
  background-color: lightgray;
}

nav {
  display: flex;
  justify-content: space-between;
}
